<!DOCTYPE html>
<html>
<head>
	<title>GLS Fullstack Exercise</title>
	<style type="text/css">
.myClass1 {padding: 10px 20px;border: 1px solid green;margin-bottom: 50px;}

.myClass2 {padding: 50px;border: 1px solid red;display: inline-block;position: absolute;right: 0px;}

.myClass3 {padding: 50px;border: 1px solid blue;display: inline-block;position: absolute;left: 0px; bottom: 0px;}		
	</style>
</head>
<body>
	<h1>GLS Fullstack Exercise</h1>
	<div class="myClass1" id="id_1">First tip on me using id.</div>

	<div class="myClass2">Second tip on me using class.</div>

	<div class="myClass3">I am the 3rd div. 3rd tip on me using xpath.</div>
</body>
</html>