.myClass1 {
    padding: 10px 20px;
    border: 1px solid green;
    margin-bottom: 50px;
}

.myClass2 {
    padding: 50px;
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    right: 0px;
}

.myClass3 {
    padding: 50px;
    border: 1px solid blue;
    display: inline-block;
    position: absolute;
    left: 0px; 
    bottom: 0px;
}